/* @media screen and (max-width: 1075px){
    section.landing .container{
        width: 100%;
    }

    section.landing .container .outer-circle span{
        width: 3rem;
        height: 3rem;
    }

    section.landing .profile-area .outer-circle span:nth-child(1){
        left: calc(50% - 1.5rem);
        top: -1.5rem;
      }
      
      section.landing .profile-area .outer-circle span:nth-child(2){
        right: -1.5rem;
        top: calc(50% - 1.5rem);
      }
      
      section.landing .profile-area .outer-circle span:nth-child(3){
        left: -1.5rem;
        top: calc(50% - 1.5rem);
      }
      
      section.landing .profile-area .outer-circle span:nth-child(4){
        bottom: -1.5rem;
        left: calc(50% - 1.5rem);
      }
    section.landing .container .socials{
        align-items: center;
        background: red;
    }

    section.landing .container .info{
        background: blue;
    }

    section.landing .container .profile-area{
        width: 100%;
        align-items: center;
        margin-right: 20rem;
        background: yellow;
    }
} */

@media screen and (max-width: 650px){
    h1{
        font-size: 2.2rem;
    }

    h2{
        font-size: 1.6rem;
    }

    h3{
        font-size: 1.2rem;
    }

    h4{
        font-size: 1rem;
    }

    h5{
        font-size: 0.68rem;
    }

    .container{
        width: 94%;
        /*  */
    }

    /* ==========HOME SECTION ========== */
    section.landing{
        margin-top: -4rem;
        margin-bottom: -15rem;
        padding-bottom: 7rem;
        max-width: 100vw;
        overflow-x: hidden;
        /* width: 100%; */
        top: 6rem;
    }

    section.landing .container{
        grid-template-columns: 1fr;
        grid-template-rows: 20% 50%;
        text-align: center;
        /* justify-content: center; */
        row-gap: 6rem;
        gap: 1rem;
    }

    section.landing .container .socials{
        display: none;
    }

    section.landing .container .info{
        width: 90%;
        margin: 0 auto;
    }

    section.landing .container .info h1{
        text-align: center;
    }

    section.landing .container .info p{
        margin: 0 auto;
        width: 92%;
    }

    section.landing .container .profile-area{
        grid-row: 1;
        width: 94%;
        margin: 3rem auto;
        margin-bottom: 15rem;
    }

    section.landing .container .outer-circle{
        width: 16rem;
        height: 16rem;
    }

    section.landing .container .inner-circle{
        width: 10rem;
        height: 10rem;
    }

    section.landing .container .outer-circle span{
        width: 3rem;
        height: 3rem;
    }

    section.landing .profile-area .outer-circle span:nth-child(1){
        left: calc(50% - 1.5rem);
        top: -1.5rem;
    }
      
    section.landing .profile-area .outer-circle span:nth-child(2){
        right: -1.5rem;
        top: calc(50% - 1.5rem);
    }
      
    section.landing .profile-area .outer-circle span:nth-child(3){
        left: -1.5rem;
        top: calc(50% - 1.5rem);
    }
      
    section.landing .profile-area .outer-circle span:nth-child(4){
        bottom: -1.5rem;
        left: calc(50% - 1.5rem);
    }
}

@media screen and (max-width: 800px){
  /* ========== NAVBAR ========== */
  nav{
    box-shadow: 0 1rem 1rem rgba(0, 0, 0, 0.3);
    /* height: 94%; */
}

nav h3{
    margin-left: 1rem;
}

nav .container{
    width: 100%;
}

nav .container ul{
    position: fixed;
    top: 0;
    flex-direction: column;
    z-index: 3;
    width: 16rem;
    height: 100vw;
    background: var(--color-white);
    box-shadow: 1rem 0 2rem var(--color-primary-light);
    display: none;
}

nav ul li{
    height: 4.6rem;
    width: 100%;
}

nav .container ul li a{
    width: 100%;
    justify-content: start;
    padding-left: 2rem;
}

nav .container ul li a:hover{
    padding-left: 3rem;
}

nav button{
    display: inline-block;
    cursor: pointer;
    background: transparent;
    color: var(--color-black);
    margin-right: 1rem;
}

nav button#close-btn{
    display: none;
}
}


/* ========== ABOUT SECTION ========== */
@media screen and (max-width: 1250px){
    section#about{
      width: 100%;
      height: auto;
      padding: 60px 0;
    }
  
    section#about .main .all-text{
      text-align: center;
      margin-top: 40px;
    }
  
    section#about .main .all-text h1{
      text-align: center;
    }
}
  
@media screen and (max-width: 650px){
    section#about .main img{
      margin-bottom: 35px;
    }
  
    section#about .main .all-text h1{
      font-size: 20px;
    }
}
  
@media screen and (max-width: 440px){
    section#about .main .all-text .about-btn button{
      margin-bottom: 15px;
    }
}

/* ========== SERVICES SECTION ========== */
@media screen and (max-width: 1200px){
    section#services .container .features_container{
      grid-template-columns: 1fr 1fr;
    }
}
  
@media screen and (max-width: 768px){
    section#services .container .features_top p{
      padding: 0;
    }
  
    section#services .container .features_container{
      grid-template-columns: 1fr;
    }
}

/* ========== CONTACT SECTION ========== */
@media only screen and (max-width: 1075px){
    section#contact .box-wrapper{
      width: 100%;
    }
  
    section#contact .box-wrapper .info-wrap,
    section#contact .box-wrapper .form-wrap{
      width: 100%;
      height: inherit;
      float: none;
    }
  
    section#contact .box-wrapper .info-wrap{
      border-radius: 30px 30px 0px 0px;
    }
  
    section#contact .box-wrapper .form-wrap{
      border-radius: 0px 0px 30px 30px;
    }
  
    section#contact .box-wrapper .form-wrap .form-fields .form-group{
      width: 100%;
      float: none;
      margin: 20px 0px;
    }
  
    section#contact .box-wrapper .form-wrap .form-fields .form-group:last-child,
    section#contact .box-wrapper .form-wrap .submit-button{
      width: 100%;
    }
  
    section#contact .box-wrapper .form-wrap .submit-button{
      margin: 10px 0px;
    }
  }
  
  @media only screen and (max-width: 450px){
    section#contact .box-wrapper .info-wrap .info-details li{
      font-size: 10px;
    }
  
    section#contact .box-wrapper .info-wrap .social-icons li i{
      padding: 10px;
      font-size: 15px;
    }
  }

  /* ========== FOOTER ========== */
  @media only screen and (max-width: 1150px){
    footer .container .content__footer{
      flex-wrap: wrap;
      justify-content: left;
    }
  
    footer .container .content__footer .profil .social__media{
      margin-bottom: 1rem;
    }
  
    footer .container .content__footer .service__area{
      flex-wrap: wrap;
      justify-content: left;
    }
  
    footer .container .content__footer .service__area .service__header{
      margin-left: 0;
      margin-right: 40px;
    }
  }
  
  @media only screen and (max-width: 806px){
    footer .container .footer__botton{
      flex-wrap: wrap;
      justify-content: center;
      text-align: center;
    }
    
    footer .container .footer__botton .copy__right{
      margin-bottom: 8px;
    }
  }