/* ========== Google Fonts Montserrat ========== */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;800&display=swap');

/* ========== ROOT VARIABLES ========== */
:root{
  --color-white: #fff;
  --color-light: #f4f4f4;
  --color-dark: #525252;
  --color-black: #141415;
  --color-primary: #cc3a3b;
  --color-primary-light: rgba(7, 6, 6, 0.12);
  --color-success: #29f5a6;
  --color-warning: #ffce31;
  --color-gary: #7c8595;

  --transition: all 300ms ease;
}

/* ========== GENERAL CSS ========== */

*{
  margin: 0;
  padding: 0;
  outline: 0;
  border: 0;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
  font-family: 'Montserrat', sans-serif;
}

html{
  font-size: 15px;
  scroll-behavior: smooth;
}

body{
  background: var(--color-white);
  color: var(--color-dark);
  max-width: 100vw;
}

h1,
h2,
h3,
h4,
h5{
  color: var(--color-black);
  line-height: 1.2;
}

h1{
  font-size: 3.5rem;
}

h2{
  font-size: 2.5rem
}

h3{
  font-size: 1.5rem;
}

h4{
  font-size: 1.1rem;
}

h5{
  font-size: 0.76rem;
}

p{
  line-height: 1.6;
}

.container{
  width: 80%;
  margin: 0 auto;
}

section{
  padding: 10rem 0 7rem;
  max-width: 100vw;
  overflow-x: hidden;
}

section h1{
  text-align: center;
  display: block;
  margin-bottom: 5rem;
}

img{
  width: 100%;
}

.btn{
  padding: 1.4rem 3.4rem;
  font-size: 1.1rem;
  color: var(--color-black);
  background: var(--color-white);
  display: inline-block;
  margin: 2rem 0;
  transition: var(--transition);
}

.btn:hover{
  box-shadow: 0 2rem 2rem var(--color-primary-light);
}

.btn-primary{
  background: var(--color-primary);
  color: var(--color-white);
}

/* ========== NAVBAR ========== */
nav{
  /* background: coral; */
  width: 100%;
  height: 5rem;
  background: var(--color-white);
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;
  top: 0;
  z-index: 2;
  border-bottom: 1px solid var(--color-light);
}

nav .container{
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100%;
}

nav button{
  display: none;
}

nav h3{
  color: var(--color-primary);
}

nav .container ul{
  display: flex;
  height: 100%;
}

nav .container ul li a{
  height: 100%;
  width: 7rem;
  /* background: red; */
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--color-black);
  position: relative;
  transition: var(--transition);
}

nav .container ul li a:hover{
  color: var(--color-primary);
}

nav .container ul li a.active{
  background: var(--color-primary);
  color: var(--color-white);
}


/* ========== HOME SECTION ========== */
section.landing{
  display: grid;
  place-items: center;
  position: relative;
  top: 1.5rem;
  padding-bottom: 14rem;
}

section.landing .container{
  display: grid;
  grid-template-columns: 5rem auto 26rem;
  gap: 2rem;
}

section.landing .socials{
  display: flex;
  flex-direction: column;
  gap: 1.6rem;
  margin-top: 5rem;
}

section.landing .socials a{
  font-size: 1.1rem;
  background: var(--color-light);
  color: var(--color-dark);
  padding: 0.3rem;
  border-radius: 50%;
  height: 2rem;
  width: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: var(--transition);
}

section.landing .socials a:hover{
  background: var(--color-primary);
  color: var(--color-white);
}

section.landing .info h1{
  text-align: left;
  margin: 0;
}

section.landing .info h3{
  height: 2.4rem 0 1rem;
}

section.landing .info p{
  width: 35rem;
}

section.landing .profile-area{
  display: flex;
  justify-content: center;
  align-items: center;
}

section.landing .profile-area .outer-circle{
  width: 26rem;
  height: 26rem;
  border: 1px solid var(--color-primary-light);
  border-radius: 50%;
  position: relative;
  /* background: blue; */
  animation: move 30s linear infinite;
}

@keyframes move{
  to{
    transform: rotate(360deg);
  }
}

section.landing .profile-area .outer-circle span{
  display: block;
  width: 4rem;
  height: 4rem;
  border-radius: 50%;
  position: absolute;
  background: var(--color-white);
  color: var(--color-primary);
  display: flex;
  justify-content: center;
  align-items: center;
  /* box-shadow: 0 0 1rem var(--color-primary); */
}

section.landing .profile-area .outer-circle span:nth-child(1){
  left: calc(50% - 2rem);
  top: -2rem;
}

section.landing .profile-area .outer-circle span:nth-child(2){
  right: -2rem;
  top: calc(50% - 2rem);
}

section.landing .profile-area .outer-circle span:nth-child(3){
  left: -2rem;
  top: calc(50% - 2rem);
}

section.landing .profile-area .outer-circle span:nth-child(4){
  bottom: -2rem;
  left: calc(50% - 2rem);
}

section.landing .profile-area .inner-circle{
  position: absolute;
  width: 22rem;
  height: 22rem;
  border-radius: 50%;
  overflow: hidden;
}
/* ========== HOME SECTION END ========== */

/* ========== ABOUR SECTION ========== */
section#about{
  /* height: 100vh; */
  width: 100%;
  background: var(--color-light);
  display: flex;
  justify-content: center;
  align-items: center;
}

section#about .main{
  width: 1290px;
  max-width: 95%;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-around;
}

section#about .main img{
  width: 580px;
  max-width: 100%;
  height: 480px;
  padding: 0 10px;
}

section#about .main .all-text{
  width: 600px;
  max-width: 100%;
  padding: 0 10px;
}

section#about .main .all-text h4{
  font-family: 'Roboto', sans-serif;
  font-size: 18px;
  color: var(--color-dark);
  letter-spacing: 1px;
  font-weight: 700;
  margin-bottom: 10px;
  color: var(--color-primary);
}

section#about .main .all-text h1{
  font-size: 30px;
  color: var(--color-black);
  font-weight: 700;
  margin-bottom: 20px;
  text-align: left;
}

section#about .main .all-text p{
  /* font-family: 'Roboto', sans-serif; */
  color: var(--color-dark);
  font-size: 16px; 
  line-height: 30px;
  margin-bottom: 35px;
}

section#about .main .all-text .about-btn button{
  background: var(--color-white);
  padding: 20px 32px;
  font-size: 16px;
  font-weight: bold;
  color: var(--color-black);
  border: none;
  outline: none;
  box-shadow: 0px 16px 32px 0px var(--color-primary-light);
  margin-right: 20px;
  cursor: pointer;
}

section#about .main .all-text .about-btn button:hover{
  background-color: var(--color-primary);
  color: var(--color-white);
  transition: var(--transition);
  cursor: pointer;
}

section#about .main .all-text .about-btn .btn22{
  background: var(--color-black);
  color: var(--color-white);
}

/* ========== SERVICES SECTION ========== */
section#services{
  transition: var(--transition);
  padding: 5rem 0;
}

section#services .container{
  width: 100%;
  max-width: 1100px;
  margin: 0 auto;
}

section#services .container .features_top,
section#services .container .features_container{
  padding: 0 1.5rem;
}

section#services .container .features_top{
  text-align: center;
}

section#services .container .features_top h1{
  font-size: 2rem;
  margin-bottom: 0.5rem;
  line-height: 1.2;
  color: var(--color-black);
}

section#services .container .features_top p{
  color: var(--color-dark);
  font-size: 1.1rem;
  line-height: 2rem;
  margin-bottom: 1rem;
  padding: 0 5rem;
  font-weight: 300;
}

section#services .container .features_container{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}

section#services .container .features_container .feature_item{
  padding: 1rem;
  margin-top: 2rem;
  text-align: center;
}

section#services .container .features_container .feature_item i{
  font-size: 3.5rem;
  margin-bottom: 0.5rem;
  color: var(--color-primary);
}

section#services .container .features_container .feature_item .featureItem_info h4{
  font-size: 1.3rem;
  color: var(--color-dark);
  margin-bottom: 0.5rem;
}

section#services .container .features_container .feature_item .featureItem_info p{
  font-size: 1.05rem;
  color: var(--color-gary);
  line-height: 2rem;
  font-weight: 300;
}

section#services .container .features_container .feature_item .featureItem_info a i{
  font-size: 1rem;
}

section#services .container .features_container .feature_item .featureItem_info a i:hover{
  text-decoration: underline;
}


/* ========== TEAM SECTION ========== */
section#team{
  width: 100%;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

section#team .team-heading{
  font-size: 2rem;
  color: var(--color-black);
  font-weight: 500;
  display: flex;
  align-items: center;
  margin: 20px;
}

section#team .team-heading i{
  background-color: var(--color-primary);
  color: var(--color-white);
  width: 50px;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.5rem;
  margin: 0 20px;
}

section#team .container{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  /* position: relative; */
}

section#team .container .box{
  width: 266px;
  height: 340px;
  background-color: var(--color-light);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  padding: 20px;
  border-radius: 10px;
  margin: 20px;
  position: relative;
}

section#team .container .box:hover{
  transform: scale(1.01);
  transition: var(--transition);
}

section#team .container .box .top-bar{
  width: 50%;
  height: 4px;
  position: absolute;
  left: 50%;
  top: 0;
  transform: translate(-50%);
  background-color: var(--color-gary);
  border-radius: 0 0 10px 18px;
}

section#team .container .box .top-bar .nav{
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

section#team .container .box .top-bar .nav .verify{
  color: var(--color-gary);
}

section#team .container .box .top-bar .nav .heart{
  color: red;
}

section#team .container .box .top-bar .nav .heart::before{
  content: '\e85d';
  font-family: fontAwesome;
  line-height: 38px;
  z-index: 1;
  cursor: pointer;
}

section#team .container .box .top-bar .nav .heart-btn{
  display: none;
}

section#team .container .box .top-bar .details{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

section#team .container .box .top-bar .details img{
  width: 100px;
  height: 100px;
  border-radius: 50%;
  overflow: hidden;
  object-fit: cover;
  object-position: center;
}

section#team .container .box .top-bar .details strong{
  text-align: center;
  padding: 15px 0;
}

section#team .container .box .top-bar .details p{
  font-size: 0.8rem;
  color: var(--color-dark);
  margin: 5px 0;
}

section#team .container .box .top-bar .social__btn{
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 30px;
}

section#team .container .box .top-bar .social__btn a{
  height: 45px;
  width: 45px;
  border-radius: 10px;
  font-size: 22px;
  line-height: 45px;
  color: var(--color-primary);
}

/* section#team .container .box .top-bar .social__btn a:hover{
  color: var(--color-primary);
} */

section#team .container .box .top-bar .social__btn a i{
  padding-left: 13px;
}

/* ========== CONTACT SECTION ========== */
section#contact{
  background: var(--color-dark);
  width: 100%;
  padding: 10px;
}

section#contact .box-wrapper{
  position: relative;
  display: table;
  width: 1100px;
  margin: auto;
  margin-top: 35px;
  border-radius: 30px;
}

section#contact .box-wrapper .info-wrap{
  width: 35%;
  height: 551px;
  padding: 40px;
  float: left;
  display: block;
  border-radius: 30px 0px 0px 30px;
  /* background: var(--color-gary); */
  /* background: red; */
  background: var(--color-black);
  /* background: var(--color-primary); */
  color: var(--color-white);
}

section#contact .box-wrapper .info-wrap .info-title{
  text-align: left;
  font-size: 28px;
  letter-spacing: 0.5px;
  color: var(--color-white);
}
section#contact .box-wrapper .info-wrap .info-sub-title{
  font-size: 18px;
  font-weight: 300;
  margin-top: 17px;
  letter-spacing: 0.5px;
  line-height: 26px;
  color: var(--color-white);
}

section#contact .box-wrapper .info-wrap .info-details{
  list-style: none;
  margin: 60px 0px;
}

section#contact .box-wrapper .info-wrap .info-details li{
  margin-top: 25px;
  font-size: 12px;
  color: var(--color-white);
}

section#contact .box-wrapper .info-wrap .info-details li i{
  background: var(--color-primary);
  padding: 12px;
  border-radius: 50%;
  margin-right: 5px;
  font-size: 18px;
}

section#contact .box-wrapper .info-wrap .info-details li a{
  color: var(--color-white);
  text-decoration: none;
}

/* section#contact .box-wrapper .info-wrap .info-details li a:hover{
  color: var(--color-primary);
} */

section#contact .box-wrapper .info-wrap .social-icons{
  list-style: none;
  text-align: center;
  margin: 20px 0px;
}

section#contact .box-wrapper .info-wrap .social-icons li{
  display: inline-block;
}

section#contact .box-wrapper .info-wrap .social-icons li i{
  background: var(--color-primary);
  color: var(--color-white);
  padding: 15px;
  font-size: 20px;
  border-radius: 22%;
  margin: 0px 5px;
  transition: var(--transition);
}

section#contact .box-wrapper .info-wrap .social-icons li i:hover{
  color: var(--color-primary);
  background: var(--color-white);
}

section#contact .box-wrapper .form-wrap{
  width: 65%;
  float: right;
  padding: 40px 25px 35px 25px;
  border-radius: 0px 30px 30px 0px;
  background: var(--color-light);
  /* background: #29f5a6; */
}

section#contact .box-wrapper .form-wrap .form-title{
  text-align: left;
  margin-left: 23px;
  font-size: 28px;
  letter-spacing: 0.5px;
  /* color: #ffce31; */
}

section#contact .box-wrapper .form-wrap .form-fields{
  display: table;
  width: 100%;
  padding: 15px 5px 5px 5px;
  /* background: var(--color-warning); */
}

section#contact .box-wrapper .form-wrap .form-fields .form-group{
  width: 46%;
  float: left;
  padding: 0px 30px;
  margin: 14px 12px;
  border-radius: 25px;
  /* box-shadow: inset 8px 8px 8px var(--color-primary-light), inset -8px -8px -8px var(--color-white); */
  background: var(--color-dark);
  /* background: var(--color-gary); */
}

section#contact .box-wrapper .form-wrap .form-fields .form-group:last-child{
  width: 96%;
}

section#contact .box-wrapper .form-wrap .form-fields .form-group input,
section#contact .box-wrapper .form-wrap .form-fields .form-group textarea{
  border: none;
  outline: none;
  background: none;
  /* background: blue; */
  font-size: 18px;
  /* color: var(--color-gary); */
  color: var(--color-white);
  padding: 20px 10px 20px 5px;
  width: 100%;
}

section#contact .box-wrapper .form-wrap .form-fields .form-group textarea{
  height: 150px;
  resize: none;
  /* background: green; */
}

section#contact .box-wrapper .form-wrap .submit-button{
  width: 96%;
  height: 60px;
  margin: 0px 12px;
  border-radius: 30px;
  font-size: 20px;
  font-weight: 700;
  outline: none;
  cursor: pointer;
  color: var(--color-white);
  text-align: center;
  background: var(--color-primary);
  /* background: black; */
  box-shadow: var(--color-primary-light);
  transition: var(--transition);
}

section#contact .box-wrapper .form-wrap .submit-button:hover{
  /* background: var(--color-white); */
  /* background: orange; */
  color: var(--color-primary);
  border: 1px solid var(--color-primary);
  background: none;
}

/* ========== FOOTER ========== */
footer{
  background: var(--color-light);
  /* position: fixed; */
  width: 100%;
  bottom: 0;
  left: 0;
  box-shadow: 0 16px 70px -8px rgba(0, 0, 0, 0.25);
  border-radius: 20px 20px 0 0;
  transition: background 0.3S linear;
}

footer .container{
  max-width: 1248px;
  padding: 36px 40px;
  margin: auto;
}

footer .container .content__footer{
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 1rem;
}

footer .container .content__footer .profil .logo__area{
  display: flex;
  align-items: center;
  margin-bottom: 1rem;
}

footer .container .content__footer .profil .logo__area img{
  width: 50px;
  /* border: 1px solid black; */
  /* border-radius: 50%; */
}

footer .container .content__footer .profil .logo__area .logo__name{
  font-size: 1.5rem;
  font-weight: 700;
  margin: 0 1rem;
  color: var(--color-black);
}

footer .container .content__footer .profil .desc__area{
  max-width: 320px;
  margin-bottom: 1.25rem;
}

footer .container .content__footer .profil .desc__area p{
  color: var(--color-gary);
  font-weight: 400;
  line-height: 27px;
}

footer .container .content__footer .profil .social__media a{
  color: var(--color-gary);
  margin-right: 22px;
  font-size: 18px;
}

footer .container .content__footer .profil .social__media a:hover{
  color: var(--color-primary);
}

footer .container .content__footer .service__area{
  display: flex;
  /* background: red; */
}

footer .container .content__footer .service__area .service__header{
  margin-right: 40px;
}

footer .container .content__footer .service__area .service__header li{
  margin-bottom: 10px;
}

footer .container .content__footer .service__area .service__header li.service__name{
  color: var(--color-dark);
  font-weight: 600;
}

footer .container .content__footer .service__area .service__header li a{
  color: var(--color-gary);
  padding-bottom: 1px;
  font-weight: 400;
}

footer .container .content__footer .service__area .service__header li a:hover{
  color: var(--color-primary);
}

footer .container hr{
  height: 1px;
  border: none;
  background: var(--color-gary);
  margin-bottom: 1rem;
}

footer .container .footer__botton{
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 0.875rem;
}

footer .container .footer__botton .copy__right{
  color: var(--color-gary);
  display: flex;
  align-items: center;
}

footer .container .footer__botton .copy__right span{
  margin-left: 8px;
  font-weight: 400;
  /* letter-spacing: 0.135rem; */
}

footer .container .footer__botton .tou{
  color: var(--color-gary);
  margin-left: 1.5rem;
}

footer .container .footer__botton .tou a{
  color: var(--color-gary);
  text-decoration: underline;
}